  
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }
  
  .ui.jumbotron.message .ui.huge.header {
    font-size: 4em;
  }
  
  .ui.secondary.compact.menu#badges .item {
    margin: 0;
  }
  
  .ui.fluid.vertical.menu > .item > .ui.header {
    margin-bottom: 5px;
  }
  
  .ui.jumbotron.message {
    padding: 6em 4em;
    box-shadow: none;
    background-color: #eeeeee;
  }
  
  .ui.jumbotron.message p {
    font-size: 1.5em;
    font-weight: 200;
  }
  
  .ui.dividing.header {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  #content {
    margin-top: 5em;
    padding-bottom: 4em;
  }
  
  .ui.celled.table tr td:first-child,
  .ui.celled.table tr th:first-child {
    border-left: 1px solid rgba(34, 36, 38, 0.1);
  }
  
  .ui.borderless.menu {
    box-shadow: none;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
    float: unset;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
    content: "\f0d7";
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
    position: static;
    width: 100%;
    background-color: unset;
    border: none;
    box-shadow: none;
    margin-top: 6px;
  }
  
  .ui.mobile.only.grid .ui.inverted.vertical.menu .ui.dropdown.item .menu .header,
  .ui.mobile.only.grid .ui.inverted.vertical.menu .ui.dropdown.item .menu .item {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  body {
    background-color: rgb(234, 234, 234) !important;
 }
 
 .ui.inverted.top.fixed.menu {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
 }
 .ui.inverted.segment {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
 }
 /*home page styles*/
 
 .masthead {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
    height: 100vh;
 }
 
 .masthead .ui.menu .ui.button, .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
 }
 
 .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
 }
 
 .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
 }